{% extends 'base.html.twig' %}

{% block title %}EmployeeAchievement{% endblock %}

{% block body %}
    <h1>EmployeeAchievement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee_achievement.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ employee_achievement.description }}</td>
            </tr>
            <tr>
                <th>Achievement_type</th>
                <td>{{ employee_achievement.achievementType ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Achievement_date</th>
                <td>{{ employee_achievement.achievementDate ? employee_achievement.achievementDate|date('H:m:s d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_achievement_index') }}">back to list</a>

    <a href="{{ path('app_employee_achievement_edit', {'id': employee_achievement.id}) }}">edit</a>

    {{ include('employee_achievement/_delete_form.html.twig') }}
{% endblock %}
