{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}
{% block body %}

<head>
    <meta charset="utf-8">
    <title>Lista de Empleados</title>
    <style>
        body {
            font-family: sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<h1>Lista de Empleados</h1>
<table>
    <thead>
    <tr>
        <th>Fotografía</th>
        <th>Nombre Completo</th>
        <th>Salario</th>
        <th>Puesto</th>
        <th>Tienda</th>
        <th>Cumpleaños</th>
    </tr>
    </thead>
    <tbody>
    {% for empleado in empleados %}
        <tr>
            <td><img src="{{ empleado.pictureUrl }}" alt="Foto" style="width: 50px; height: auto;"></td>
            <td>{{ empleado.name }} {{ empleado.lastname }}</td>
            <td>{{ empleado.salary | format_currency('GTQ') }}</td>
            <td>{{ empleado.position.name }}</td>
            <td>{{ empleado.store.name }}</td>
            <td>{{ empleado.birthDate ? empleado.birthDate|date('d/m/Y') : '' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h4 class="mt-5">Total salarios <span class="badge bg-secondary"> {{ total | format_currency('GTQ') }} </span></h4>
</body>
{% endblock %}
