{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}
{% block body %}

    <head>
        <meta charset="utf-8">
        <title>Detalle empleado</title>
        <style>
            body {
                font-family: sans-serif;
            }
            table {
                width: 100%;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                padding: 8px;
                text-align: left;
                max-width: 300px;
                white-space: normal;
                word-wrap: break-word;
            }
            img {
                max-width: 300px;
                height: auto;
            }
        </style>
    </head>
    <body>
    <h1>Empleado: {{ empleado.fullName }}</h1>
    <div>
        <img src="{{ empleado.pictureUrl }}" alt=""  style="width: 200px; height: auto;"/>
    </div>
    <ul>
        <li>Salario: <b>{{ empleado.salary | format_currency('GTQ') }}</b></li>
        <li>Puesto: <b>{{ empleado.position.name }}</b></li>
        <li>Tienda: <b>{{ empleado.store.name }}</b></li>
        <li>Fecha de nacimiento: <b>{{ empleado.birthDate | date('d/m/Y') }}</b></li>
    </ul>
    <table>
        <thead>
        <tr>
            <th>Tipo de observación</th>
            <th>Descripción</th>
            <th>Hora y Fecha</th>
        </tr>
        </thead>
        <tbody>
        {% for actividad in activities %}
            <tr>
                <td>{{ actividad.achievementType ? 'Logro' : 'Llamada de atención' }}</td>
                <td>{{ actividad.description }}</td>
                <td>{{ actividad.achievementDate | date('H:m:s d/m/Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>
{% endblock %}
