{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}
    <h1>Empleados</h1>

    {% if employees|length > 0 %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Fecha de nacimiento</th>
                    <th>Salario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <td> <img src="{{ employee.pictureUrl }}" alt="" /> </td>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.fullName }}</td>
                    <td>{{ employee.birthDate ? employee.birthDate|date('d/m/Y') : '' }}</td>
                    <td>{{ employee.salary | format_currency('GTQ') }}</td>
                    <td>
                        <div>
                            <a href="{{ path('app_employee_show', {'id': employee.id}) }}">show</a>
                        </div>
                        <div>
                            <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>
                        </div>
                        <div>
                            <a href="{{ path('app_employee_achievement_index', { 'employeeId': employee.id }) }}"> Actividades  </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">"No se encontraron registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="not-found-data">
            <img src="{{ asset('images/employee.png') }}" alt="No se encontraron registros">
            <p>No hay empleados ingresados.</p>
        </div>
    {% endif %}

    <div class="button-container">
        <button type="button" class="btn btn-dark">
          <a href="{{ path('app_employee_new') }}">Ingresar empleado</a>
        </button>
        <button type="button" class="btn btn-dark">
            <a href="{{ path('app_employee_pdf_index') }}">Pdf</a>
        </button>
        <button type="button" class="btn btn-dark">
            <a href="{{ path('app_employee_achievement_all_pdf') }}">Pdf actividades</a>
        </button>
        <button type="button" class="btn btn-dark">
            <a href="{{ path('app_employee_achievements_pdf') }}">Pdf logros</a>
        </button>
        <button type="button" class="btn btn-dark">
            <a href="{{ path('app_employee_warnings_pdf') }}">Pdf llamadas de atención</a>
        </button>
    </div>
    <div class="button-container" style="margin-top: 20px">
        <button type="button" class="btn btn-dark">
          <a href="{{ path('app_index') }}"> Regresar </a>
        </button>
    </div>
{% endblock %}
