{% extends 'base.html.twig' %}

{% block title %}Empleado{% endblock %}

{% block body %}
    <h1>Empleado</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Imagen</th>
            <td><img class="employee-image" src="{{ employee.pictureUrl }}" class="img-fluid" alt="" /></td>
        </tr>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
           <tr>
               <th>Nombre</th>
               <td>{{ employee.fullName }}</td>
           </tr>
            <tr>
                <th>Fecha de nacimiento</th>
                <td>{{ employee.birthDate ? employee.birthDate|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Salario</th>
                <td>{{ employee.salary | format_currency('GTQ') }}</td>
            </tr>
            <tr>
                <th>Tienda</th>
                <td>{{ employee.store.name }}</td>
            </tr>
            <tr>
                <th>Puesto</th>
                <td>{{ employee.position.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="button-container">
        <button type="button" class="btn btn-dark">
            <a href="{{ path('app_employee_index') }}"> Regresar a la lista </a>
        </button>
        <button type="button" class="btn btn-dark">
           <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">Editar</a>
        </button>
        <button type="button" class="btn btn-dark">
            <a href="{{ path('app_employee_detail_pdf', {'id': employee.id}) }}">Reporte detalle</a>
        </button>
    </div>
    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
