{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
    <h1>Employee</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Picture_url</th>
            <td><img src="{{ employee.pictureUrl }}" class="img-fluid" alt="" /></td>
        </tr>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
           <tr>
               <th>Nombre</th>
               <td>{{ employee.fullName }}</td>
           </tr>
            <tr>
                <th>Birth_date</th>
                <td>{{ employee.birthDate ? employee.birthDate|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ employee.salary | format_currency('GTQ') }}</td>
            </tr>
            <tr>
                <th>Tienda</th>
                <td>{{ employee.store.name }}</td>
            </tr>
            <tr>
                <th>Puesto</th>
                <td>{{ employee.position.name }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <a href="{{ path('app_employee_index') }}">back to list</a>
    </div>
    <div>
        <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>
    </div>
    <div>
        <a href="{{ path('app_employee_detail_pdf', {'id': employee.id}) }}">Reporte detalle</a>
    </div>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
