{% extends 'base.html.twig' %}

{% block title %}Store index{% endblock %}

{% block body %}

    <h1>Tiendas</h1>

    <table class="table">
        <thead class="table-primary">
        <tr>
            <th>Identificador</th>
            <th>Tienda</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.name }}</td>
                <td>
                    <a href="{{ path('app_store_show', {'id': store.id}) }}">show</a>
                    <a href="{{ path('app_store_edit', {'id': store.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="{{ path('app_store_new') }}">Create new</a>
    </div>
    <div>
        <a href="{{ path('app_index') }}"> Regresar </a>
    </div>

{% endblock %}
