{% extends 'base.html.twig' %}

{% block title %}Tiendas{% endblock %}

{% block body %}

    <h1>Tiendas</h1>

    {% if stores|length > 0 %}
        <table class="table ">
        <thead>
        <tr>
            <th>Identificador</th>
            <th>Tienda</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.name }}</td>
                <td>
                
                    <a class="eye" href="{{ path('app_store_show', {'id': store.id}) }}">{{ ux_icon('ion:eye-outline') }}</a>
                    <a href="{{ path('app_store_edit', {'id': store.id}) }}">{{ ux_icon('ion:create-outline') }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="not-found-data">
            <img src="{{ asset('images/store.png') }}" alt="No se encontraron registros">
            <p>No hay tiendas registradas.</p>
        </div>
    {% endif %}

    <div class="button-container">
        <button type="button" class="btn btn-dark">
         <a href="{{ path('app_store_new') }}">Ingresar tienda</a>
        </button>
         <button type="button" class="btn btn-dark">
          <a href="{{ path('app_index') }}"> Regresar </a>
        </button>
    </div>
    
{% endblock %}
