{% extends 'base.html.twig' %}

{% block title %}Positions index{% endblock %}

{% block body %}
    <h1>Puestos</h1>

     {% if positions|length > 0 %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for position in positions %}
                <tr>
                    <td>{{ position.id }}</td>
                    <td>{{ position.name }}</td>
                    <td>
                        <a href="{{ path('app_positions_show', {'id': position.id}) }}">show</a>
                        <a href="{{ path('app_positions_edit', {'id': position.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">"No se encontraron registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="not-found-data">
            <img src="{{ asset('images/position.png') }}" alt=""No se encontraron registros">
            <p>No hay puestos registrados.</p>
        </div>
    {% endif %}

    <div class="button-container">
        <button type="button" class="btn btn-dark">
          <a href="{{ path('app_positions_new') }}">Ingresar puesto</a>
        </button>
         <button type="button" class="btn btn-dark">
          <a href="{{ path('app_index') }}"> Regresar </a>
        </button>
    </div>
{% endblock %}
